<p>&nbsp;</p>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <!--DWLayoutTable-->
  <tr> 
    <td valign="top"><p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">ACKNOWLEDGEMENTS</font></strong><a href="signup.php?action=add"></a></p>
			<p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><em>magistratescases.com.au</em> thanks the following who have assisted in making the <em>Magistrates Cases</em> available: </font></strong></p>
			<p><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><strong>The Council of Law Reporting in Victoria</strong></font></p>
			<p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">The Supreme Court of Victoria, </font></strong></p>
			<p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Mr Ian Gray, Chief Magistrate of Victoria, </font></strong></p>
			<p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Mr Dan Muling, Deputy Chief Magistrate of Victoria, </font></strong></p>
			<p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Mr Mick Francis, former CEO, Magistrates' Court of Victoria, and</font></strong></p>
			<p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">The Australasian Legal Information Institute.<br>
						<br>
						Ms Josie Barbaro, typing, layout and design.</font></strong></p>
		</td>
    <td></td>
  </tr>
</table>
<p>&nbsp;</p>
