<p>&nbsp;</p>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <!--DWLayoutTable-->
  <tr> 
    <td valign="top"><p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">DISCLAIMER</font></strong><a href="signup.php?action=add"></a></p>
			<p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">The Parts and Indexes of the Magistrates Cases are published and printed by the Magistrates' Court of Victoria. Views expressed in these publications are not necessarily endorsed by the Magistrates' Court of Victoria. No responsibility is accepted by the Court, the Editor, the publisher or the printer for the accuracy of the information contained in the text nor do they give any guarantees, undertakings or warranties concerning the completeness or up-to-date nature of the information provided.<br>
					</font></strong></p>
		</td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
