<p>&nbsp;</p>

<table width="100%" border="0" cellspacing="0" cellpadding="5">

  <tr>

    <td valign="top">
	<!--<img src="images/frontcover.gif" alt="Magistrates Cases" width="230" height="550" />-->
	<a href="MagistratesCases2008Part5.pdf" target="_blank"><img src="images/frontcover_part5.gif" alt="Magistrates Cases" border="0"></a>
	</td>
	
    <td valign="top"><p><strong><em>MAGISTRATES CASES</em></strong></p>

      <p>These are specialised case reports mainly from the Supreme Court of Victoria in relation to the Magistrates' Court's jurisdiction in Victoria. Keep up-to-date with the Magistrates. Using catchwords and headnotes in easy-to-read style, <em>Magistrates Cases</em> are an invaluable legal resource. </p>
			<p>Parts 1 - 11 of 2013 have now been published and distributed to the 2013 subscribers. Subscribe now and receive the 2013 loose Parts as they are issued. The <em>Cases</em> report on a variety of topics all 100% relevant to the jurisdiction of the Magistrates' Court! </p>
			<p>Don't delay. Subscribe today!</p>
			<p>PLUS, you will receive</p>

      <ul>
				<li>A bound volume of the 2013 Parts and Index with striking burgundy binding and gold blocking on the spine</li>
				<li>Annual Index of 2013 <em>Cases</em> reported</li>
				<li>Online access to the <em>Cases</em> database of more than 2,400 <em>Cases </em>and<em> Case Notes </em>from the 1960s to present (Note: one user only per subscription)<em>.</em></li>
			</ul>

			<p>Yearly subscription: <strong>AU$250 pa</strong> (inc GST) - price includes delivery within Australia.</p>

			<p><a href="signup.php?action=add">subscribe now&gt;</a></p>
			<p>For further details contact: <a href="mailto:info@magistratescases.com.au">info@magistratescases.com.au</a></p>
		</td>

  </tr>

</table>

<p>&nbsp;</p>

