<p>&nbsp;</p>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <!--DWLayoutTable-->
  <tr> 
    <td valign="top"><p><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><strong>&quot;QUOTEWORTHY&quot;</strong></font></p>
      <p><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><strong>Over the years we have come across important statements, pithy and witty sayings and commendable comments mainly by Judges of the Supreme Court of Victoria. We have labelled these &quot;Quoteworthy&quot; and present them here for your ongoing enjoyment, amusement or edification. They are collected in the year they were published in the <em>Magistrates Cases</em>. Click on any year and read on...</strong></font><a href="signup.php?action=add"></a></p>
			
      <p><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><strong>The whole decision by Brooking J in <em>DPP v Ellison</em> we feel is worthy of a &quot;Quoteworthy&quot; on its own. A true classic... </strong></font></p>
			<p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><a href="../quoteworthy1983.php">1983</a></font></strong></p>
			<p><font face="Arial, Helvetica, sans-serif"><strong><a href="../quoteworthy1984.php">1984</a></strong></font></p>
			<p><strong><font face="Arial, Helvetica, sans-serif"><a href="../quoteworthy1985.php">1985</a></font></strong></p>
			<p><a href="../quoteworthy1986.php"><strong><font face="Arial, Helvetica, sans-serif">1986</font></strong></a></p>
			<p><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><strong><a href="../quoteworthy1987.php">1987</a></strong></font></p>
			<p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><a href="../quoteworthy1988.php">1988</a></font></strong></p>
			<p><strong><font face="Arial, Helvetica, sans-serif"><a href="../quoteworthy1989.php">1989</a></font></strong></p>
			<p><strong><font face="Arial, Helvetica, sans-serif"><a href="../quoteworthy1990.php">1990</a></font></strong></p>
			<p><font face="Arial, Helvetica, sans-serif"><strong><a href="../quoteworthy1991.php">1991</a></strong></font></p>
			<p><strong><font face="Arial, Helvetica, sans-serif"><a href="quoteworthy1992.php">1992</a></font></strong></p>
			<p><strong><font face="Arial, Helvetica, sans-serif"><a href="quoteworthy1993.php">1993</a></font></strong></p>
			<p><font face="Arial, Helvetica, sans-serif"><strong><a href="quoteworthy1994.php">1994</a></strong></font></p>
			<p><font face="Arial, Helvetica, sans-serif"><strong><a href="quoteworthy1997.php">1997</a></strong></font></p>
      <p><font face="Arial, Helvetica, sans-serif"><strong><a href="quoteworthy1998.php">1998</a></strong></font></p>
      <p><font face="Arial, Helvetica, sans-serif"><strong><a href="quoteworthy1999.php">1999</a></strong></font></p>
      <p><font face="Arial, Helvetica, sans-serif"><strong><a href="quoteworthy2000.php">2000</a></strong></font></p>
      <p><font face="Arial, Helvetica, sans-serif"><strong><a href="quoteworthy2001.php">2001</a></strong></font></p>
      <p><font face="Arial, Helvetica, sans-serif"><strong><a href="quoteworthy2002.php">2002</a></strong></font></p>
      <p><font face="Arial, Helvetica, sans-serif"><strong><a href="quoteworthy2003.php">2003</a></strong></font></p>
      <p><font face="Arial, Helvetica, sans-serif"><strong><a href="quoteworthy2005.php">2005</a></strong></font></p>
      <p><font face="Arial, Helvetica, sans-serif"><strong> <a href="quoteworthy2006.php">2006 
        </a></strong></font></p>
			<p><font face="Arial, Helvetica, sans-serif"><strong><a href="quoteworthy2007.php">2007</a></strong></font></p>
			<p><font face="Arial, Helvetica, sans-serif"><strong><a href="quoteworthy2008.php">2008</a></strong></font></p>
			<a href="quoteworthyellison.php">DPP v Ellison</a></strong></font></p>
		</td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
