<p>&nbsp;</p>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <!--DWLayoutTable-->
  <tr> 
    <td valign="top">
			<p><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><strong>"QUOTEWORTHY" 1993</strong></font></p>
			<p><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><strong>1. &quot;I find somewhat uncomfortable the concept of here are two adults, living in the one house involved in a sexual relationship with each other, share many of the household duties, sharing each other's company, and managing to claim two sets of supporting parents benefits from the Australian taxpayer - while the husband goes out to work every day and runs his business at a loss. However, if that is the way this country functions, taking money from those who work and giving it to those who work but do not need it, then I am not one who is able to run any political barrow from the bench. I just find this situation somewhat uncomfortable.&quot; per Kay J in <em>Tate v Tate</em>, unrep, Family Court of Australia, 4 February 1992.</strong></font></p>
			<p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif"><br>2. &quot;The issue of unconscionability has vexed the law since the 17th century when John Selden said, &quot;One chancellor has a long foot; another a short foot; a third an indifferent foot. It is the same thing in the chancellor's conscience.&quot; per Nathan J, in <em>Tzefrios v Polites</em> &amp; Ors unrep., Vic.Sup.Ct (FC) 24 February 1993.<br>
						__________________________________________________________________________________</font></strong>______________________<br>
			</p>
			<p></p>
		</td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
