
<p>&nbsp;</p>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
	<!--DWLayoutTable-->
	<tr>
		<td valign="top">
			<p><font face="Arial, Helvetica, sans-serif"><strong>&quot;QUOTEWORTHY&quot; 1996</strong></font></p>
			<p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">
							________________________________________________________________________________________________________<br>
					</font></strong></p>
			<p></p>
		</td>
		<td>&nbsp;</td>
	</tr>
</table>
<p>&nbsp;</p>

