<p>&nbsp;</p>
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <!--DWLayoutTable-->
  <tr> 
    <td valign="top"><p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">TERMS and POLICIES</font></strong><a href="signup.php?action=add"></a></p>
			<p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Privacy Policy<br>
						magistratescases.com.au respects the National Privacy Principles set out in the <em>Privacy Act</em> 1988 (Cwth). magistratescases.com.au does not give out or disclose any personal information about persons who choose to subscribe to the Magistrates Cases series.<br>
					</font></strong></p>
			<p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Information Collection<br>
							magistratescases.com.au collects subscribers personal information to enable it to provide subscriber services and benefits and to maintain membership. The main service provided by magistratescases.com.au is to furnish subscribers with copies of the Magistrates Cases as published from time to time.<br>
					</font></strong></p>
			<p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">magistratescases.com.au will not use e-mail addresses or messages submitted to the magistratescases.com.au web site (with the domain name www.magistratescases.com.au) for any purpose other than the purpose for which they are submitted and will not disclose them to unauthorised persons or third parties without the consent of the individual concerned.<br>
					</font></strong></p>
			<p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Data Security<br>
							When it collects personal information, magistratescases.com.au will take all reasonable steps to ensure that that information is secure and to protect that personal information from misuse or loss and from unauthorised access, modification or disclosure. With the use of a web site it should be pointed out that no data transmission over the Internet can be guaranteed as totally secure. Although magistratescases.com.au will strive to protect such information, magistratescases.com.au does not warrant the security of any information transmitted to it over the Internet and subscribers do so at their own risk.<br>
					</font></strong></p>
			<p><strong><font face="Helvetica, Geneva, Arial, SunSans-Regular, sans-serif">Refund Policy<br>
						The editor of the Magistrates Cases (Patrick Street) supervises and guarantees the timely delivery of the Parts and Indexes of the Magistrates Cases. Accordingly, refunds are not provided except in special circumstances. If any subscriber is not satisfied for any reason, please contact <em>info@magistratescases.com.au</em>.</font></strong></p>
		</td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
