<h3>Terms and Conditions</h3>
<p>Your Use of This Website is Governed by These Terms and Conditions</p>
<p>By accessing and using the website, you agree that your access to and use
  of the website is subject to these terms and conditions, as well as all applicable
  laws, as governed and interpreted pursuant to the laws of the State of Victoria,
  Australia.</p>
<p><strong>Correction of Errors and Inaccuracies</strong><br />
    <br />
  The information on the website may contain typographical errors or inaccuracies
  and may not be complete or current. We therefore reserve the right to correct
  any errors, inaccuracies or omissions and to change or update information at
  any time without prior notice. Please note that such errors, inaccuracies,
  or omissions do not constitute legally binding statements on ezyhorsesales's
  part.</p>
<p><strong>Your Password Management Responsibilities</strong></p>
<p>Use of your User Id and Password is the agreed security procedure to access
  the secure area of the ezyhorsesales website. In order to prevent unauthorised
  access to your accounts and to prevent unauthorised use of the ezyhorsesales
  website, you agree, by using the ezyhorsesales website, to keep confidential,
  and to not give or make available your User Id and Password or other means
  to access your accounts to any person not authorised to access your accounts.
  Disclosure of your User Id and Password to any person(s) or entity(ies) constitutes
  authorisation by you to access your account and you assume all risks and losses
  associated with such disclosure and authorisation. If you permit any other
  person(s) or entity(ies) to use your User Id and Password, or other means to
  access your accounts through the ezyhorsesales website, you are responsible
  for any transactions and activities they authorise from your accounts. You
  agree to immediately notify us during normal customer service hours of any
  unauthorised disclosure or use of your User Id and Password or of any other
  breach of security, or if you believe someone may attempt to access the ezyhorsesales
  website without your consent or transact business on your account without your
  permission.</p>
<p><strong>Limitation of Liability</strong><br />
    <br />
  Under no circumstances, shall ezyhorsesales or any of their employees, directors,
  officers, agents, vendors or suppliers be liable for any direct or indirect
  losses or damages arising out of or in connection with the use of or inability
  to use the ezyhorsesales website. This is a comprehensive limitation of liability
  that applies to all losses and damages of any kind (whether general, special,
  consequential, incidental, exemplary or otherwise, including, without limitation,
  loss of data, income or profits), whether in contract, negligence or other
  tortuous action, even if an authorised representative of ezyhorsesales has
  been advised of or should have known of the possibility of such damages.<br />
    <br />
  If you are dissatisfied with the ezyhorsesales website or any content on the
  site, or with the ezyhorsesales terms and conditions, your sole and exclusive
  remedy is to discontinue using the ezyhorsesales website. You acknowledge,
  by your use of the ezyhorsesales website, that your use of the site is at your
  sole risk.</p>
<p><strong>Disclaimers</strong><br />
    <br />
  The ezyhorsesales website is operated by ezyhorsesales, on an &quot;as is,&quot; &quot;as
  available&quot; basis, without representations or warranties of any kind. To
  the full extent permitted by law, ezyhorsesales disclaim any and all representations
  and warranties with respect to this site and its contents, whether express,
  implied, or statutory, including but not limited to warranties of title, merchantability
  and fitness for a particular purpose or use.<br />
    <br />
  ezyhorsesales does not endorse nor make any warranties or representations about
  the options or other service or data you may access, download or use as a result
  of the use of the information contained on this website, or about any website
  you may access through the ezyhorsesales website.<br />
    <br />
  Links to other sites are provided for convenience only. You need to make your
  own decisions regarding your interactions or communications with any other
  website.<br />
    <br />
  ezyhorsesales makes no representation that content provided on the ezyhorsesales
  website is applicable or appropriate for use in locations outside of Australia.<br />
    <br />
  ezyhorsesales assumes no risk or responsibility for your use of any of the
  content provided on the ezyhorsesales website.</p>
<p><strong>Copyright Notice</strong><br />
    <br />
  You may not copy, download, reproduce, modify, publish, distribute, transmit,
  transfer or create derivative works from the Content without first obtaining
  written permission from ezyhorsesales.</p>
<p><strong>Submissions</strong><br />
    <br />
  We welcome your comments regarding the ezyhorsesales website. Any comments,
  feedback, notes, messages, ideas, suggestions or other communications (collectively, &quot;Comments&quot;)
  sent to ezyhorsesales shall be and remain the exclusive property of ezyhorsesales.
  Your submission of any such Comments shall constitute an assignment to ezyhorsesales
  of all worldwide rights, titles and interests in all copyrights and other intellectual
  property rights in the Comments. ezyhorsesales will be entitled to use, reproduce,
  disclose, publish and distribute any Comments you submit for any purpose whatsoever,
  without restriction and without compensating you in any way. </p>
<p><strong>These Terms and Conditions May Change</strong><br />
    <br />
  ezyhorsesales reserves the right to update or modify these Terms and Conditions
  at any time without prior notice. Your use of the ezyhorsesales website following
  any such change constitutes your agreement to follow and be bound by the Terms
  and Conditions as changed. For this reason, we encourage you to review these
  Terms and Conditions whenever you use this website.</p>
